.header_bar{
    background-color: #060b26;
    width: 100vw;
    height: 7vh;
    display: table-cell;
    vertical-align: middle;
    padding-left: 1vw;
}

.total_zone{ 
    display: flex;
    flex-direction: row;
}



.user_zone{
    
    width: 40vw;
    height: 93vh;
   
}








.user_vidoes{
    
    height: 82;
    margin-top: 5vh;
    margin-right: 5vw;
}

