.Lobby_draw{
    background-color: rgba(207, 207, 207, 0.533);
    display: flex;
    flex-direction: row !important;
   
}

.Lobby_room{
    display: flex;
    flex-direction: column !important;
}

.Lobby_top{
    margin: 20px;
    width: 75vw;
}

.Lobby_text{
    float: left;
    font-size: 22px;
    font-weight: 600;
}

.Lobby_create{
    float: right;
}